*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  min-height: 100vh;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(images/sunset.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.9;
}
#content {
  position: relative;
}
/* header */
#header {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 182, 193, 0.5);
  padding: 10px;
  /* display: none; */
}
.sun {
  margin-left: 20px;
  width: 40px;
  height: auto;
  animation: rotateAndTranslate 5s linear infinite;
}

@keyframes rotateAndTranslate {
  0% {
    transform: rotate(0deg) translate(-15px);
  }
  50% {
    transform: rotate(180deg) translate(15px);
  }
  100% {
    transform: rotate(360deg) translate(-15px);
  }
}
#main {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
/* form container, input and searchBtn */
.form-container {
  display: flex;
  justify-content: center;
  padding: 10px;
  /* display: none; */
}
#form {
  margin-top: 10px;
}
.search {
  padding: 10px;
  width: 80px;
  border-radius: 20px;
  outline: none;
  border: 2px solid lightseagreen;
  transition: 0.5s;
}
.search.focus {
  width: 180px;
}
.searchBtn {
  width: 50px;
  height: auto;
  margin-left: 10px;
  margin-top: 5px;
  cursor: pointer;
}
/* section card */
.section {
  display: flex;
  justify-content: center;
}
.main-div {
  display: flex;
  justify-content: center;
}
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  max-width: 520px;
  padding: 10px;
  margin: 10px;
  display: none;
}
.card-container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  max-width: 520px;
  padding: 10px;
  margin: 10px;
  /* display: none; */
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  max-width: 500px;
  padding: 10px;
  margin: 10px;
}
.sos-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}
.sos-container.display {
  display: flex;
}
.city-name {
  margin-top: -15px;
}
.temp {
  margin-top: 10px;
}
.icon {
  width: 100px;
  height: auto;
  object-fit: cover;
}
.details {
  display: flex;
  justify-content: space-between;
  color: white;
}
.humidity,
.wind {
  width: 40px;
  height: auto;
}
.col1,
.col2,
.col3,
.col4 {
  padding: 8px;
}
.sos {
  width: 150px;
  height: auto;
  margin-top: 10px;
}
.err {
  font-size: 20px;
  margin-top: 10px;
}

/* loader */
.progress {
  position: relative;
  height: 30px;
  width: 200px;
  border: 10px solid #f4a261;
  border-radius: 15px;
  display: none;
}
.progress .color {
  position: absolute;
  background-color: #ffffff;
  width: 0px;
  height: 10px;
  border-radius: 15px;
  animation: progres 3s forwards;
}
.show {
  display: block;
}
@keyframes progres {
  0% {
    width: 0%;
  }
  25% {
    width: 50%;
  }
  50% {
    width: 75%;
  }
  75% {
    width: 85%;
  }
  100% {
    width: 100%;
  }
}
/* bookmark */
.bookmark {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bookmark.disappear {
  display: none;
}
.book-desc {
  color: white;
}
.bookmark-img {
  width: 35px;
  cursor: pointer;
}
.bookmark-img1 {
  width: 35px;
  display: none;
  cursor: pointer;
}
.bookmark-img.no-active {
  display: none;
}
.bookmark-img1.active {
  display: block;
}
/* bookmark info */
.bookmark-info {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(
    rgba(255, 160, 122, 0.5),
    rgba(119, 136, 153, 0.5)
  );
  display: none;
}
.bookmark-info.appear {
  display: flex;
}
/* bookmark holder */
.bookmark-holder {
  display: flex;
  overflow-y: scroll;
  overflow-y: hidden;
}
.delete-button {
  padding: 6px;
  background-color: lightsalmon;
  border: 2px solid lightslategray;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
}
.delete-button:hover {
  background-color: lightcoral;
}

@media screen and (max-width: 292px) {
  .h1-header {
    font-size: 28px;
  }
}
